black==25.1.0
click==8.1.8
coloredlogs==15.0.1
contourpy==1.3.1
cycler==0.12.1
flatbuffers==25.2.10
fonttools==4.56.0
humanfriendly==10.0
isort==6.0.1
jax==0.5.3
jaxlib==0.5.3
kiwisolver==1.4.8
matplotlib==3.10.1
ml_dtypes==0.5.1
mpmath==1.3.0
mutil @ git+https://github.com/MOLE0624/Mutil.git@c3f085779142fb6a8b660b1b86a266a628da2007
mypy-extensions==1.0.0
numpy==2.2.4
onnx==1.17.0
onnxruntime==1.21.0
opt_einsum==3.4.0
packaging==24.2
pathspec==0.12.1
pillow==11.1.0
platformdirs==4.3.7
protobuf==6.30.2
pyparsing==3.2.3
python-dateutil==2.9.0.post0
scipy==1.15.2
setuptools==78.1.0
six==1.17.0
sympy==1.13.3
wheel==0.45.1
